version: '3.8'

services:
  # Application Chauffeur (Mode Production)
  app-chauffeur-prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-chauffeur-prod
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge
